<html>
	<head>
		<title>Edit</title>
		<link rel="stylesheet" href="css/edit.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<body>
	<div class="container_24">
		<header>
			<a href="#"><h1 class="uper"><span>booky</span></h1></a>
		</header>
			<div class="main">
				<div class="login-box grid_16">
					<div class="box-header">
						<h2>details</h2>
					</div>
					<label for="book name">book name</label>
					<br/>
					<input type="text" name="book name" id="book name"/>
					<br/>
					<label for="book id">book id</label>
					<br/>
					<input type="text" name="book id" id="book id"/>
					<br/>
					<label for="author">author</label>
					<br/>
					<input type="text" name="author" id="author"/>
					<br/>
					<label for="number of books">number of books</label>
					<br/>
					<input type="number" name="number of books" id="number of books"/>
					<br/>
					<button type="submit" onclick="validate()">add</button>
					<br/>
				</div>
				<div class="home grid_8">
					<a href="home.html">
					<img src="img/back.jpg" alt="back" />
					<h1>BACK to HOME</h1>
					</a>
				</div>
				<div class="edit grid_8">
					<a href="edit.html"><img src="img/edit2.jpg" alt="edit book" class="image" />
					<h1>edit</h1></a>
				</div>
			</div>
	</body>
</html>