	<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="css/home.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<body>
		<div class="container_24">
		<header>
			<a href="#"><h1 class="uper grid_22"><span><marquee>booky</marquee></span></h1></a>
			<a href="start.html"><h3 class="nk grid_2">Log out</h3></a>
		</header>
		<div class="main">
			<div class="issue grid_8">
			<a href="issue.html"><img src="img/iss2.jpg" alt="issue book" class="image" />
			<h1>issue</h1></a>
			</div>
			<div class="home grid_8">
			<img src="img/hm2.png" alt="home" />
			<h1>HOME</h1>
			</div>
			<div class="submit grid_8">
			<a href="submit.html"><img src="img/submit.jpg" alt="issue book" class="image" />
			<h1>submit</h1></a>
			</div>
			<div class="search grid_8">
			<a href="search.html"><img src="img/search3.jpg" alt="search" class="image" />
			<h1>search</h1></a>
			</div>
			<div class="grid_8">
			<h1></h1>
			</div>
			<div class="edit grid_8">
			<a href="edit.html"><img src="img/edit2.jpg" alt="edit" class="image" />
			<h1>edit</h1></a>
			</div>
		</div>
		</div>
	</body>
</html>