<html>
<head>
	<title>booky welcome page</title>
	<link rel="stylesheet" href="css/start.css" />
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/960_24_col.css" />
	<link rel="stylesheet" href="css/text.css" />	
	</head>
</head>
<body>
	<div class="container_24">
		<header class="grid_18">
			<h1 class="grid_14"><span>booky</span> Management System</h1>
			<h3 class="login grid_3"><a href="log in.html">log in</a></h3>
			<img src="img/banner.jpg" alt="grouppic" class="pic grid_18"/>
		</header>
		<div class="main">
			<div class="grid_9">
				<h2>about <span>booky</span></h2>
				<p>The page titled Booky Management System is Library management software for monitoring and controlling the transactions in a library .This page "Booky Management System" is developed in HTML, CSS and SQL which mainly focuses on basic operations in a library like adding new member, new books, and updating new information, searching books and members and facility to borrow and return books.</p>
				<p><a href="about booky.html" class="button" >READ MORE</a></p>
			</div>
			<div class="grid_9">
				<h2>about us</h2>
				<p>There is 3 student's hard work behind this project. We were work on this project since January and each of us handle difference section of project. We divide our project in static page, data base and off-course style sheet.</p>
				<p>All of us work together and our team spirit is fabulous because we respect each other and also note other mistake to recognise them.</p>
				<p><a href="about us.html" class="button" >READ MORE</a></p>
			</div>
		</div>
		<footer>
				<p><span>booky </span><a href="contact us.html" class="end">contact us</a></p>
			</footer>
	</div>
</body>
</html>