<html>
	<head>
		<title>Submit</title>
		<link rel="stylesheet" href="css/submit.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<body>
	<div class="container_24">
		<header>
			<a href="#"><h1 class="uper"><span>booky</span></h1></a>
		</header>
			<div class="main">
				<div class="login-box grid_16">
					<div class="box-header">
						<h2>details</h2>
					</div>
					<label for="book name">book name</label>
					<br/>
					<input type="text" name="book name" id="book name"/>
					<br/>
					<label for="id">id</label>
					<br/>
					<input type="text" name="id" id="id"/>
					<br/>
					<label for="submit date">Date of submit</label>
					<br/>
					<input type="text" name="submit date" id="submit date"/>
					<br/>
					<button type="submit" onclick="validate()">submit</button>
					<br/>
				</div>
				<div class="submit grid_8">
					<a href="submit.html"><img src="img/submit.jpg" alt="submit book" class="image" />
					<h1>submit</h1></a>
				</div>
				<div class="home grid_8">
					<a href="home.html">
					<img src="img/back.jpg" alt="back" />
					<h1>BACK to HOME</h1>
					</a>
				</div>
			</div>
	</body>
</html>