<html>
	<head>
		<title>booky</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<style type="text/css">
	.container_24 {
		width:800px;
		}
	h1 {
	font-size:50px;
	letter-spacing: 1px;
	color:#000;
	}
	h2 {
		text-align:center;
		}
	.text{
		font-size:14px;
		}
	body {
	    background: linear-gradient(rgb(10, 300, 200) 10%, rgb(73, 400, 300) 50%);
	}
	</style>
	<body>
		<div class="container_24">
			<h1><em>Booky</em> Management System</h1>
			<h2><u>About booky</u></h2>
			<p class="text">The page titled Booky Management System is Library management software for monitoring and controlling the transactions in a library .This page "Library Management System" is developed in java which mainly focuses on basic operations in a library like adding new member, new books, and updating new information, searching books and members and facility to borrow and return books</p>
			
			<p class="text">"Library Management System" is a windows application written for 32-bit Windows operating systems, designed to help users maintain and organize library. This software is easy to use for both beginners and advanced users.</p> 
			
			<h3>INTRODUCTION:</h3> 
			<p class="text">
			The purpose of the application is automation of library ,it  provide facilities to student or member to search for the required books and it allows the administrator or librarian to Issue & return books to students and can create & delete membership of students. The software Library Management System has four main modules. Insertion to Database Module - User friendly input screen Extracting from Database module - Attractive Output Screen Report Generation module - borrowed book list & Available book list Search Facility system - search for books and members...</p> 
			
			<h3>SYSTEM ANALYSIS EXISTING SYSTEM:</h3>
			<p class="text">System Analysis is a detailed study of the various operations performed by a system and their relationships within and outside of the system. Here the key question is- what all problems exist in the present system what must be done to solve the problem Analysis begins when a user or manager begins a study of the program using existing system. In our existing system all the transaction of books are done manually, So taking more time for a transaction like borrowing a book or returning a book and also for searching of members and books. Another major disadvantage is that to preparing the list of books borrowed and the available books in the library will take more time, currently it is doing as a one day process for verifying all records. So after conducting the feasibility study we decided to make the manual Library management system to be computerized. </p>
			
			<h3>PROPOSED SYSTEM:</h3>
			<p class="text">Proposed system is an automated Library Management System. Through our software user can add members, add books, search members, search books, update information, edit information, borrow and return books in quick time. Our proposed system has the following advantages. 
				<ul>
					<li>User friendly interface </li>
					<li>Fast access to database </li>
					<li>Less error </li>
					<li>More Storage Capacity </li>
					<li>Search facility </li>
					<li>Look and Feel Environment </li>
				</ul>
			All the manual difficulties in managing the Library have been rectified by implementing computerization. 
			</p>
	</body>
</html>