<html>
	<head>
		<title>booky about us</title>
		<link rel="stylesheet" href="css/about us.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<body>
		<div class="container_24">
			<div class="head">
				<h1 class="heading"><span><a href="start.html">booky</a></span> Management System</h1>
				<h1>About us</h1>
				<p>We Ravindra, Shahruk, Sajid the student of ACEIT of EC department 8th semester,  have made project. Our project is based on library management system.  The project is based on library management system in which administration would know about the books bring issue and submitted and about the books available in the library.  We have divided our project in various part and we have different roles in our project such as HTML, SQL and CSS. We have sincerely performed our task in the project. We are recently working on the improvement of this project and we will extend this project in this future.</p>
			</div>
			<div class="ol grid_24">
					<img src="img/sajid.jpg" alt="book" class="all grid_10"/>
					<div class="sjt grid_10">
						<h2>Sajid:</h2>
							<h3>Master in survulates</h3>
							<p>He is the student of ACEIT. In the starting study his interest deeply involve in programming. he has basic knowledge of c and c++. He did a course in JAVA in which he is so much good.</p>
					</div>
			</div>
				<div class="ol grid_24">
					<div class="sjt grid_10">
						<h2>Rajendra (RK):</h2>
							<h3>Speed booster</h3>
							<p class="line">He is the man who enter in engineering as a stranger. But the ability of his speaking continuously he became very famous among classmate as well as faculty. He is good in logic reasoning and mathematics. The important thing is he can explain anything either right or not.</p>
					</div>
					<img src="img/rk.jpg" alt="book" class="all grid_10"/>
				</div>
				<div class="ol grid_24">
					<img src="img/sk.jpg" alt="book" class="all grid_10"/>
					<div class="sjt grid_10">
						<h2>Shahruk:</h2>
							<h3>Problem solver</h3>
							<p>Yes, you are right right now you read about Er. Shahruk not SRK. The page in which you read this made by this man. He is good in C, HTML and CSS. And he also has basic knowledge of c++. Whatever the problem he can solve any technical problem that's why he is a Problem Solver.</p>
					</div>
				</div>
		</div>
	</body>
</html>