<html>
	<head>
		<title>booky</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<style type="text/css">
	/* .container_24 {
		width:800px;
		} */
	.heading {
		font-size:50px;
		font-family:sans-serif;
		letter-spacing: 1px;
		color:#000;
		}
	p {
		font-size: 20px;
		}
	body {
	    background: linear-gradient(rgb(200, 10, 20) 10%, rgb(300, 123, 232) 50%);
	}
	</style>
	<body>
		<div class="container_24">
			<h1 class="heading"><em>Booky</em> Management System</h1>
			<h1 class="grid_16"><u>Contact us:</u></h1>
			<p class="grid_16">mobile: 8890890160<br><br>Email: shahrukkhan222@gmail.com</p>
					
		</div>
	</body>
</html>