{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Issue</title>
		<script src="{% static 'js/jquery.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/issue.css' %}" />
		<link rel="stylesheet" href="{% static 'css/test2.css' %}">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'css/960_24_col.css' %}" />
		<link rel="stylesheet" href="{% static 'css/text.css' %}" />
	</head>
	<body>
		<div class="container_24">
		<header>
			<a href="#"><h1 class="uper"><span>booky</span></h1></a>
		</header>
		<div class="main">
			<div class="issue grid_8">
				<a href="#"><img src="{% static 'img/iss2.jpg' %}" alt="issue book" class="image" />
				<h1>issue</h1></a>
			</div>
		<div class="login-box grid_16">
			<div class="box-header">
				<h2>details</h2>
			</div>
			<label for="book name">book name</label>
			<br/>
			<input type="text" name="book name" id="book_name" placeholder="book name ?" />
			<br/>
			<label for="author name"> author name</label>
			<br/>
			<input type="text" name="author name" id="author_name" placeholder="author name ?" />
			<br/>
			<label for="id">id</label>
			<br/>
			<input type="text" name="id" id="id" placeholder="id ?" />
			<br/>
			<label for="issue date">Date of issue</label>
			<br/>
			<input type="text" name="issue date" id="issue_date" placeholder="issue date ?" />
			<br/>
			<label for="return date">Date of return</label>
			<br/>
			<input type="text" name="return date" id="return_date" placeholder="return date ? " />
			<br/>
			<button type="submit" id="submit_button" onclick="issue_data()">issue</button>
			<br/>
		</div>
		<div class="home grid_8">
			<a href="home">
			<img src="{% static 'img/back.jpg' %}" alt="back" />
			<h1>BACK to HOME</h1>
			</a>
		</div>
		</div>
		<script type="text/javascript">
			function issue_data(){
				var book_name = document.getElementById("book_name").value;
				var author_name = document.getElementById("author_name").value;
				var book_id = document.getElementById("id").value;
				var issue_date = document.getElementById("issue_date").value;
				var return_date = document.getElementById("return_date").value;
				if ((book_name && author_name && issue_date) != ""){
					$.ajax({
						url: 'arya_lib/data_book',
						type: 'GET',
						data: {book_name: book_name,author_name:author_name,
							book_id:book_id,issue_date:issue_date,return_date:return_date},
					})
					.done(function(data) {
						
						alert(data);
					})
					.fail(function() {
						alert("your data did'nt insert");
					})
					.always(function() {
						resetAllValues() 
					});
				}
				
			}
			function resetAllValues() {
  					$('.login-box').find('input:text').val('');
			}
			$("input").click(function(event) {
				this.placeholder=""
			})	
			$(".issue").click(function(event){
				resetAllValues()
			})
				/*else{
					alert("Book Name,Author Name,Date Of Issue are mandatory field");
				}*/
		</script>
	</body>
</html>