<html>
	<head>
		<title>Issue</title>
		<link rel="stylesheet" href="css/issue.css" />
		<link rel="stylesheet" href="css/test2.css">
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/960_24_col.css" />
		<link rel="stylesheet" href="css/text.css" />
	</head>
	<body>
		<div class="container_24">
		<header>
			<a href="#"><h1 class="uper"><span>booky</span></h1></a>
		</header>
		<div class="main">
			<div class="issue grid_8">
			<a href="issue.html"><img src="img/iss2.jpg" alt="issue book" class="image" />
			<h1>issue</h1></a>
			</div>
		<div class="login-box grid_16">
			<div class="box-header">
				<h2>details</h2>
			</div>
			<label for="book name">book name</label>
			<br/>
			<input type="text" name="book name" id="book name"/>
			<br/>
			<label for="id">id</label>
			<br/>
			<input type="text" name="id" id="id"/>
			<br/>
			<label for="issue date">Date of issue</label>
			<br/>
			<input type="text" name="issue date" id="issue date"/>
			<br/>
			<label for="return date">Date of return</label>
			<br/>
			<input type="text" name="return date" id="return date"/>
			<br/>
			<button type="submit" onclick="validate()">issue</button>
			<br/>
		</div>
		<div class="home grid_8">
			<a href="home.html">
			<img src="img/back.jpg" alt="back" />
			<h1>BACK to HOME</h1>
			</a>
		</div>
		</div>
	</body>
</html>